<!DOCTYPE html>
<html>
  <head>
		<title><%= htmlWebpackPlugin.options.title %></title>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<script type="text/javascript">
			var _paq = _paq || [];
			_paq.push(["setDomains", ["*.tools.wmflabs.org/interaction-timeline"]]);
			_paq.push(['trackPageView']);
			_paq.push(['enableLinkTracking']);
			_paq.push(['setTrackerUrl', 'https://piwik.wikimedia.org/piwik.php']);
			_paq.push(['setSiteId', '14']);
		</script>
		<script type="text/javascript" src="https://piwik.wikimedia.org/piwik.js" async></script>
  </head>
  <body>
		<div id="root"></div>
		<noscript>
			<p>
			    This tool requires JavaScript to function.
				<img src="https://piwik.wikimedia.org/piwik.php?idsite=14" style="border:0;" alt="" />
			</p>
		</noscript>
  </body>
</html>
