$wm-blue: #006699;
$wm-red: #990000;
$wm-green: #339966;

$primary: $wm_blue;

$timeline-width: 0.25em;


@import '~bootstrap/scss/_functions';
@import "~bootstrap/scss/_variables";
@import "~bootstrap/scss/bootstrap";

.revision {

	.wrapper {
		border-style: solid;
		border-color: $border-color;
		border-width: 0;
		&:before {
			content: '';
			display: block;
			width: 1.5em;
			height: 1.5em;
			margin-left: ($timeline-width / 2) - 1;
			-moz-border-radius: 0.75em;
			-webkit-border-radius: 0.75em;
			border-radius: 0.75em;
			background-color: theme-color("primary");
			@extend .align-self-center;
		}
	}

	.content {
		background-color: $border-color;
	}

	a {
		text-decoration: none;
		color: $body-color;
		&:hover {
			text-decoration: none;
			background-color: $gray-300;
		}
	}

	&.right {
		.wrapper {
			border-left-width: $timeline-width;
			margin-left:  -($timeline-width / 2);
		}
	}

	&.left {
		.wrapper {
			border-right-width: $timeline-width;
			margin-right: -($timeline-width / 2);
			@extend .flex-row-reverse;
			margin-left: -1.5em;
			&:before {
				margin-right: ($timeline-width / 2) - 1;
			}
		}
		.record {
			@extend .flex-row-reverse;
		}
	}
}
